<mat-card class="card" *ngFor="let product of productList">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
      <mat-card-subtitle>{{product.rating.rate}} Average Rating | {{product.rating.count}} Users Rated</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product.image}}" alt="Image of {{product.title}}">
    <mat-card-content>
      <p>{{product.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add to cart</button>
    </mat-card-actions>
</mat-card>